/*
*
*
* Colors
*
*/
/*
*
*
* Margin and padding
*
*/
/*
*
*
* Fonts
*
*/
#masthead {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 666;
}
#masthead .logo {
  padding-left: 1rem;
}
#masthead .logo img {
  max-width: 75%;
}
#masthead #site-navigation {
  background-color: transparent;
  padding-top: 40px;
}
#masthead #site-navigation.top-bar ul {
  background-color: transparent !important;
}
#masthead #site-navigation #menu-main-nav li {
  border: none;
}
#masthead #site-navigation #menu-main-nav li a:hover {
  background-color: transparent;
}
#featured-hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#page .entry-header {
  padding: 100px 0;
}
#page .entry-header .entry-title {
  text-align: center;
}
#page .entry-subtitle-content {
  box-shadow: 0 3px 15px rgba(0, 1, 1, 0.1);
  padding-top: 40px;
  padding-bottom: 80px;
  margin-top: 0px;
  margin-bottom: 80px;
  background: #000000;
  color: #f5d73c;
  text-align: center;
}
#page .entry-subtitle-content h2,
#page .entry-subtitle-content h3 {
  color: #f5d73c;
}
#page .entry-subtitle-content a {
  color: #ffffff !important;
}
/*
*
*
* Page Awards
*
*/
#awards {
  padding-top: 80px;
  margin-top: 0px;
  margin-bottom: 80px;
}
#awards .award {
  background: #ffffff;
  padding-top: 40px;
  padding-bottom: 80px;
  margin-top: 0px;
  margin-bottom: 80px;
  text-align: center;
}
/*
*
*
* Page Careers
*
*/
#jobs .apply-to {
  background: #f6323f;
  color: #ffffff;
  padding-top: 40px;
  padding-bottom: 80px;
  margin-top: 0px;
  margin-bottom: 80px;
  text-align: center;
}
#jobs .apply-to h3 {
  color: #ffffff;
}
.accordion {
  background: #ffffff;
  margin-bottom: 80px;
}
.accordion li:last-child:not(.is-active) > .accordion-title {
  border: none;
}
.accordion li.is-active a.accordion-title {
  background: #000071;
  color: #ffffff !important;
}
.accordion li a.accordion-title {
  font-family: 'Radikal_bold' !important;
  font-size: 1rem;
  border: none;
}
.accordion li a.accordion-title:hover,
.accordion li a.accordion-title:focus {
  background: #000071;
  color: #ffffff !important;
}
.accordion li .accordion-content {
  border: none;
  background: #ffffff;
  color: #000000 !important;
}
#footer-container {
  border-top: none;
}
#footer-container #footer {
  background: #ffffff;
  box-shadow: 0 3px 15px rgba(0, 1, 1, 0.1);
  padding-bottom: 80px;
  margin-top: 0px;
  margin-bottom: 80px;
}
#footer-container #footer .logo {
  margin-bottom: 20px;
}
#footer-container #footer #menu-social li.facebook a:hover {
  color: #3b5998 !important;
}
#footer-container #footer #menu-social li.twitter a:hover {
  color: #1dcaff !important;
}
#footer-container #footer #menu-social li.linkedin a:hover {
  color: #0077B5 !important;
}
#footer-container #footer #menu-social li.xing a:hover {
  color: #1A7576 !important;
}
#footer-container #footer #menu-social li a {
  font-size: 1.4rem;
  padding: 0 0.4rem;
}
#footer-container #copyright {
  padding-bottom: 80px;
  text-align: center;
}
.gform_body .gfield_label {
  font-weight: normal !important;
}
.gform_body .gfield_required {
  color: #f6323f !important;
}
.gform_body .ginput_container input,
.gform_body .ginput_container textarea {
  border: none;
  width: 100% !important;
  box-shadow: 0 3px 15px rgba(0, 1, 1, 0.1);
  padding-left: 10px;
}
.gform_body .gfield_error .gfield_label,
.gform_body .gfield_error .gfield_required,
.gform_body .gfield_error .validation_message {
  color: #f6323f !important;
}
.validation_error {
  color: #ffffff !important;
  border-top: none !important;
  border-bottom: none !important;
  background: #f6323f;
  box-shadow: 0 3px 15px rgba(0, 1, 1, 0.1);
}
/* 
*  
*	General
*
*/
html {
  height: 100%;
}
body {
  font-family: 'Radikal_light' !important;
  font-size: 16px !important;
  line-height: 1.8;
  color: #000000;
  background-color: #f5d73c;
  width: 100%;
  height: 100%;
}
body p {
  font-size: 16px !important;
  line-height: 1.6;
}
body p strong {
  font-family: 'Radikal_bold' !important;
}
h1 {
  font-family: 'Radikal_black' !important;
  font-size: 4rem;
  line-height: 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
  margin: 0;
  padding: 20px 0 20px 0;
  text-transform: uppercase;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Radikal_bold' !important;
}
a,
.links {
  cursor: pointer;
  color: #000000 !important;
  -webkit-transition: color 0.25s ease;
  -moz-transition: color 0.25s ease;
  -ms-transition: color 0.25s ease;
  -o-transition: color 0.25s ease;
  text-decoration: none;
}
a:hover,
.links:hover,
a.active,
.links.active {
  -webkit-transition: color 0.25s ease;
  -moz-transition: color 0.25s ease;
  -ms-transition: color 0.25s ease;
  -o-transition: color 0.25s ease;
  color: #000071 !important;
  text-decoration: none;
}
.button {
  margin: 1rem 0 1rem 0;
  background-color: #000071 !important;
  color: #fff !important;
}
.button:hover {
  background-color: #000000 !important;
  color: #fff !important;
}
.shadow {
  box-shadow: 0 3px 15px rgba(0, 1, 1, 0.1);
}
/* 
*  
*	FONTS
*
*/
@font-face {
  font-family: 'Radikal_bold';
  src: url('http://localhost:8888/morphean2016/wp-content/themes/Morphean/less/../assets/fonts/Radikal_bold.eot');
  src: url('http://localhost:8888/morphean2016/wp-content/themes/Morphean/less/../assets/fonts/Radikal_bold.eot?#iefix') format('embedded-opentype'), url('http://localhost:8888/morphean2016/wp-content/themes/Morphean/less/../assets/fonts/Radikal_bold.woff2') format('woff2'), url('http://localhost:8888/morphean2016/wp-content/themes/Morphean/less/../assets/fonts/Radikal_bold.woff') format('woff'), url('http://localhost:8888/morphean2016/wp-content/themes/Morphean/less/../assets/fonts/Radikal_bold.ttf') format('truetype'), url('http://localhost:8888/morphean2016/wp-content/themes/Morphean/less/../assets/fonts/Radikal_bold.svg#moderatbold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Radikal_black';
  src: url('http://localhost:8888/morphean2016/wp-content/themes/Morphean/less/../assets/fonts/Radikal_black.eot');
  src: url('http://localhost:8888/morphean2016/wp-content/themes/Morphean/less/../assets/fonts/Radikal_black.eot?#iefix') format('embedded-opentype'), url('http://localhost:8888/morphean2016/wp-content/themes/Morphean/less/../assets/fonts/Radikal_black.woff2') format('woff2'), url('http://localhost:8888/morphean2016/wp-content/themes/Morphean/less/../assets/fonts/Radikal_black.woff') format('woff'), url('http://localhost:8888/morphean2016/wp-content/themes/Morphean/less/../assets/fonts/Radikal_black.ttf') format('truetype'), url('http://localhost:8888/morphean2016/wp-content/themes/Morphean/less/../assets/fonts/Radikal_black.svg#moderatbold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Radikal_light';
  src: url('http://localhost:8888/morphean2016/wp-content/themes/Morphean/less/../assets/fonts/Radikal_light.eot');
  src: url('http://localhost:8888/morphean2016/wp-content/themes/Morphean/less/../assets/fonts/Radikal_light.eot?#iefix') format('embedded-opentype'), url('http://localhost:8888/morphean2016/wp-content/themes/Morphean/less/../assets/fonts/Radikal_light.woff2') format('woff2'), url('http://localhost:8888/morphean2016/wp-content/themes/Morphean/less/../assets/fonts/Radikal_light.woff') format('woff'), url('http://localhost:8888/morphean2016/wp-content/themes/Morphean/less/../assets/fonts/Radikal_light.ttf') format('truetype'), url('http://localhost:8888/morphean2016/wp-content/themes/Morphean/less/../assets/fonts/Radikal_light.svg#moderatbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
