/*
*
*
* Colors
*
*/
/*
*
*
* Margin and padding
*
*/
/*
*
*
* Fonts
*
*/
#masthead {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 666;
}
#masthead .logo img {
  max-width: 100px;
  height: 50px;
}
#masthead #site-navigation {
  background-color: transparent;
  padding-top: 40px;
}
#masthead #site-navigation.top-bar ul {
  background-color: transparent !important;
}
#masthead #site-navigation #menu-main-nav .dropdown {
  background-color: #ffffff !important;
  box-shadow: 0 3px 15px rgba(0, 1, 1, 0.1);
  z-index: 123;
}
#masthead #site-navigation #menu-main-nav .dropdown li {
  text-align: right;
}
#masthead #site-navigation #menu-main-nav .dropdown li a {
  padding-top: 1rem;
}
#masthead #site-navigation #menu-main-nav .dropdown li a:last-child {
  padding-right: 1rem !important;
}
#masthead #site-navigation #menu-main-nav li {
  border: none;
}
#masthead #site-navigation #menu-main-nav li:last-child a {
  padding-right: 0 !important;
}
#masthead #site-navigation #menu-main-nav li a {
  height: auto;
  padding-top: 0;
  padding-bottom: 1rem;
  text-transform: uppercase;
  font-weight: inherit;
  letter-spacing: 0.03rem;
}
#masthead #site-navigation #menu-main-nav li.active > a,
#masthead #site-navigation #menu-main-nav li.current-menu-item a {
  font-family: 'Radikal_bold' !important;
  background-color: transparent;
}
#masthead #site-navigation #menu-main-nav li a:hover {
  background-color: transparent;
}
#featured-hero {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#page .entry-header {
  padding: 100px 0;
}
#page .entry-header .entry-title {
  text-align: center;
}
#page .entry-subtitle-content {
  box-shadow: 0 3px 15px rgba(0, 1, 1, 0.1);
  padding-top: 40px;
  padding-bottom: 60px;
  margin-top: 0px;
  margin-bottom: 80px;
  background: #000000;
  color: #f5d73c;
  text-align: center;
}
#page .entry-subtitle-content h2,
#page .entry-subtitle-content h3 {
  color: #f5d73c;
}
#page .entry-subtitle-content a {
  color: #ffffff !important;
}
/*
*
*
* Page Awards
*
*/
#awards {
  padding-top: 80px;
  margin-top: 0px;
  margin-bottom: 80px;
}
#awards .award {
  background: #ffffff;
  padding-top: 40px;
  padding-bottom: 60px;
  margin-top: 0px;
  margin-bottom: 80px;
  text-align: center;
}
#awards .award .logo-award img {
  max-width: 20%;
}
/*
*
*
* Page Careers
*
*/
#jobs .apply-to {
  background: #f6323f;
  color: #ffffff;
  padding-top: 40px;
  padding-bottom: 60px;
  margin-top: 0px;
  margin-bottom: 80px;
  text-align: center;
}
#jobs .apply-to h3 {
  color: #ffffff;
}
.accordion {
  background: #ffffff;
  margin-bottom: 80px;
}
.accordion li:last-child:not(.is-active) > .accordion-title {
  border: none;
}
.accordion li.is-active a.accordion-title {
  background: #000071;
  color: #ffffff !important;
}
.accordion li a.accordion-title {
  font-family: 'Radikal_bold' !important;
  font-size: 1rem;
  border: none;
}
.accordion li a.accordion-title:hover,
.accordion li a.accordion-title:focus {
  background: #000071;
  color: #ffffff !important;
}
.accordion li .accordion-content {
  border: none;
  background: #ffffff;
  color: #000000 !important;
}
#footer-container {
  border-top: none;
}
#footer-container #footer {
  background: #ffffff;
  box-shadow: 0 3px 15px rgba(0, 1, 1, 0.1);
  padding-bottom: 60px;
  margin-top: 0px;
  margin-bottom: 80px;
}
#footer-container #footer .logo {
  margin-bottom: 20px;
}
#footer-container #footer .logo .logo-size {
  max-width: 155px;
  height: 77px;
}
#footer-container #footer #menu-social li.facebook a:hover {
  color: #3b5998 !important;
}
#footer-container #footer #menu-social li.twitter a:hover {
  color: #1dcaff !important;
}
#footer-container #footer #menu-social li.linkedin a:hover {
  color: #0077B5 !important;
}
#footer-container #footer #menu-social li.xing a:hover {
  color: #1A7576 !important;
}
#footer-container #footer #menu-social li a {
  font-size: 1.4rem;
  padding: 0 0.4rem;
}
#footer-container #copyright {
  padding-bottom: 60px;
  text-align: center;
}
.home .entry-header .entry-subtitle {
  text-align: center;
}
.home #sections-home .section-home {
  margin-top: 0px;
  margin-bottom: 80px;
}
.home #sections-home .section-home .section-home-image {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 60px;
}
.home #sections-home .section-home .section-home-content {
  box-shadow: 0 3px 15px rgba(0, 1, 1, 0.1);
  background: #ffffff;
  padding: 40px 3.5rem 60px 3.5rem;
}
.home #sections-home .section-home .section-home-content h2 {
  font-size: 1.5rem;
}
.home #demo-home .want-to-try-it {
  background: #f6323f;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 60px;
  margin-top: 0px;
  margin-bottom: 80px;
  box-shadow: 0 3px 15px rgba(0, 1, 1, 0.1);
}
.home #demo-home .want-to-try-it h1,
.home #demo-home .want-to-try-it h2 {
  color: #ffffff !important;
  margin: 0;
  padding: 1rem 0;
}
.home #demo-home .want-to-try-it h2 {
  font-size: 1.5rem;
  font-family: 'Radikal_light' !important;
}
.home #demo-home .want-to-try-it h2 a {
  color: #ffffff !important;
}
.home #use-cases-home .use-cases-intro {
  padding-top: 40px;
  padding-bottom: 60px;
  background: #ffffff;
  text-align: center;
  box-shadow: 0 3px 15px rgba(0, 1, 1, 0.1);
}
.home #use-cases-home .use-cases-carousel .owl-carousel .owl-controls {
  max-width: 960px;
  background: #ffffff;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
  box-shadow: 0 3px 15px rgba(0, 1, 1, 0.1);
}
.home #use-cases-home .use-cases-carousel .owl-carousel .owl-controls .owl-nav [class*=owl-] {
  color: #fff;
  font-size: 14px;
  margin: 5px;
  padding: 4px 17px 5px;
  background: #000000;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.home #use-cases-home .use-cases-carousel .owl-carousel .owl-controls .owl-nav [class*=owl-]:hover {
  background: #f5d73c;
  color: #000000;
}
.home #use-cases-home .use-cases-carousel .owl-carousel .owl-use-case {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 60px;
  min-height: 200px;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}
.home #use-cases-home .use-cases-carousel .owl-carousel .owl-use-case a {
  display: inline-block !important;
}
.home #use-cases-home .use-cases-carousel .owl-carousel .owl-use-case.blue-usecase .full {
  background: rgba(0, 0, 113, 0.8);
}
.home #use-cases-home .use-cases-carousel .owl-carousel .owl-use-case.blue-usecase a {
  color: #ffffff !important;
}
.home #use-cases-home .use-cases-carousel .owl-carousel .owl-use-case.white-usecase .full {
  background: rgba(255, 255, 255, 0.8);
}
.home #use-cases-home .use-cases-carousel .owl-carousel .owl-use-case.yellow-usecase .full {
  background: rgba(245, 215, 60, 0.8);
}
.home #use-cases-home .use-cases-carousel .owl-carousel .owl-use-case.green-usecase .full {
  background: rgba(166, 205, 77, 0.8);
}
.home #use-cases-home .use-cases-carousel .owl-carousel .owl-use-case.skyblue-usecase .full {
  background: rgba(46, 223, 217, 0.8);
}
.home #use-cases-home .use-cases-carousel .owl-carousel .owl-use-case.black-usecase .full {
  background: rgba(0, 0, 0, 0.8);
}
.home #use-cases-home .use-cases-carousel .owl-carousel .owl-use-case.red-usecase .full {
  background: rgba(246, 50, 63, 0.8);
}
.home #use-cases-home .use-cases-carousel .owl-carousel .owl-use-case .full {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.home #use-cases-home .use-cases-carousel .owl-carousel .owl-use-case .owl-use-case-content {
  position: relative;
  z-index: 2;
}
.home #use-cases-home .use-cases-carousel .owl-carousel .owl-use-case .title {
  text-transform: uppercase;
  font-family: 'Radikal_bold' !important;
}
.home #use-cases-home .use-cases-carousel .owl-carousel .owl-use-case .discover {
  margin-top: 60px;
}
#use-cases-page .usecase {
  margin-bottom: 2rem;
}
#use-cases-page .usecase .usecase-image {
  background-color: #ffffff;
  position: relative;
}
#use-cases-page .usecase .usecase-image .full {
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -ms-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
}
#use-cases-page .usecase .usecase-image .full:hover {
  background: rgba(0, 0, 113, 0.6);
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -ms-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  cursor: pointer;
}
#use-cases-page .usecase .usecase-content {
  background-color: #ffffff;
}
#use-cases-page .usecase .usecase-content h2 {
  text-align: center;
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: 1rem;
}
#options-tkc {
  margin-bottom: 80px;
}
#options-tkc .option-tkc {
  margin-top: 0px;
  margin-bottom: 80px;
}
#options-tkc .option-tkc .image-tkc {
  text-align: center;
  background: #ffffff;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  position: relative;
}
@media screen and (max-width: 40rem) {
  #options-tkc .option-tkc .image-tkc img {
    max-width: 60px;
  }
}
#options-tkc .option-tkc .image-tkc:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -7.5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7.5px 0 7.5px 7.5px;
  border-color: transparent transparent transparent #fff;
  z-index: 100;
}
#options-tkc .option-tkc .content-tkc {
  padding-bottom: 30px;
  background: #000071;
  color: #ffffff;
}
#options-tkc .option-tkc .content-tkc h2 {
  font-size: 1rem;
  color: #ffffff;
}
#image-tkc {
  text-align: center;
  margin-bottom: 80px;
}
#image-tkc .image-tkc {
  padding-top: 40px;
  padding-bottom: 60px;
  background: #ffffff;
}
#sous-titre-tkc {
  padding-top: 40px;
  padding-bottom: 60px;
}
#sous-titre-tkc .subtitle_tkc {
  box-shadow: 0 3px 15px rgba(0, 1, 1, 0.1);
  padding-top: 40px;
  padding-bottom: 60px;
  margin-top: 0px;
  margin-bottom: 80px;
  background: #000000;
  color: #f5d73c;
  text-align: center;
}
#sous-titre-tkc .subtitle_tkc h2,
#sous-titre-tkc .subtitle_tkc h3 {
  color: #f5d73c;
}
#sous-titre-tkc .subtitle_tkc a {
  color: #ffffff !important;
}
#domaines-tkh {
  margin-bottom: 80px;
}
#domaines-tkh .domaine-tkc {
  margin-top: 0px;
  margin-bottom: 80px;
}
#domaines-tkh .domaine-tkc .image-domaine-tkc {
  text-align: center;
  background: #ffffff;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  position: relative;
}
#domaines-tkh .domaine-tkc .image-domaine-tkc img {
  max-width: 80px;
}
#domaines-tkh .domaine-tkc .image-domaine-tkc:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -7.5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7.5px 0 7.5px 7.5px;
  border-color: transparent transparent transparent #fff;
  z-index: 100;
}
#domaines-tkh .domaine-tkc .content-domaine-tkc {
  padding-bottom: 30px;
  background: #000071;
  color: #ffffff;
}
#domaines-tkh .domaine-tkc .content-domaine-tkc h2 {
  font-size: 1rem;
  color: #ffffff;
  padding-bottom: 0.3rem;
}
#domaines-tkh .domaine-tkc .content-domaine-tkc h3 {
  font-size: 1rem;
  color: #ffffff;
  font-family: 'Radikal_light' !important;
  padding-top: 0.3rem;
}
.gform_body .gfield_label {
  font-weight: normal !important;
}
.gform_body .gfield_required {
  color: #f6323f !important;
}
.gform_body .ginput_container input,
.gform_body .ginput_container textarea {
  border: none;
  width: 100% !important;
  box-shadow: 0 3px 15px rgba(0, 1, 1, 0.1);
  padding-left: 10px;
}
.gform_body .gfield_error .gfield_label,
.gform_body .gfield_error .gfield_required,
.gform_body .gfield_error .validation_message {
  color: #f6323f !important;
}
.validation_error {
  color: #ffffff !important;
  border-top: none !important;
  border-bottom: none !important;
  background: #f6323f;
  box-shadow: 0 3px 15px rgba(0, 1, 1, 0.1);
}
#usecase {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
}
#usecase .entry-header {
  padding: 100px 0;
}
#usecase .entry-header .entry-title,
#usecase .entry-header .entry-subtitle {
  text-align: center;
}
#usecase .entry-header .entry-subtitle {
  font-family: 'Radikal_light' !important;
}
#usecase .entry-showcase-content {
  box-shadow: 0 3px 15px rgba(0, 1, 1, 0.1);
  padding-top: 40px;
  padding-bottom: 60px;
  margin-top: 0px;
  margin-bottom: 80px;
  background: #000000;
  color: #f5d73c;
  text-align: center;
}
#usecase .entry-showcase-content h2,
#usecase .entry-showcase-content h3 {
  color: #f5d73c;
}
#usecase .entry-showcase-content a {
  color: #ffffff !important;
}
#usecase .entry-content {
  margin-bottom: 60px;
}
#usecase #entry-assets-usecase {
  padding-top: 40px;
  margin-top: 0px;
  margin-bottom: 80px;
}
#usecase #entry-assets-usecase .entry-asset-usecase {
  margin-top: 0px;
  margin-bottom: 40px;
}
#usecase #entry-assets-usecase .entry-asset-usecase .asset-image {
  text-align: center;
  background: #ffffff;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  position: relative;
}
#usecase #entry-assets-usecase .entry-asset-usecase .asset-image:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -7.5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7.5px 0 7.5px 7.5px;
  border-color: transparent transparent transparent #fff;
  z-index: 100;
}
#usecase #entry-assets-usecase .entry-asset-usecase .asset-content {
  background: #000071;
  font-size: 0.8rem !important;
  line-height: 1.3 !important;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  color: white !important;
}
#usecase #entry-spotlight-usecase {
  padding-top: 40px;
  margin-top: 0px;
  margin-bottom: 80px;
}
#usecase #entry-spotlight-usecase .entry-spotlight {
  margin-bottom: 80px;
}
#usecase #entry-spotlight-usecase .entry-spotlight-content {
  color: #000071 !important;
  box-shadow: 0 3px 15px rgba(0, 1, 1, 0.1);
  padding-top: 40px;
  padding-bottom: 60px;
  margin-top: 0px;
  margin-bottom: 80px;
  background: #2edfd9;
  text-align: center;
}
#usecase #entry-spotlight-usecase .entry-spotlight-content strong {
  text-transform: uppercase;
}
#usecase #entry-spotlight-usecase .entry-spotlight-content h2,
#usecase #entry-spotlight-usecase .entry-spotlight-content h3 {
  color: #f5d73c;
}
#usecase #entry-spotlight-usecase .entry-spotlight-content a {
  color: #ffffff !important;
}
#usecase #entry-howtos-usecase {
  padding-top: 40px;
  padding-bottom: 60px;
  margin-top: 0px;
  margin-bottom: 80px;
}
/* 
*  
*	General
*
*/
html {
  height: 100%;
}
body {
  font-family: 'Radikal_light' !important;
  font-size: 16px !important;
  line-height: 1.8;
  color: #000000;
  background-color: #f5d73c;
  width: 100%;
  height: 100%;
}
body p {
  font-size: 16px !important;
  line-height: 1.6;
}
body p strong {
  font-family: 'Radikal_bold' !important;
}
h1 {
  font-family: 'Radikal_black' !important;
  font-size: 4rem;
  line-height: 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
  margin: 0;
  padding: 20px 0 20px 0;
  text-transform: uppercase;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Radikal_bold' !important;
}
a,
.links {
  cursor: pointer;
  color: #000000 !important;
  -webkit-transition: color 0.25s ease;
  -moz-transition: color 0.25s ease;
  -ms-transition: color 0.25s ease;
  -o-transition: color 0.25s ease;
  text-decoration: none;
}
a:hover,
.links:hover,
a.active,
.links.active {
  -webkit-transition: color 0.25s ease;
  -moz-transition: color 0.25s ease;
  -ms-transition: color 0.25s ease;
  -o-transition: color 0.25s ease;
  color: #000071 !important;
  text-decoration: none;
}
.button {
  margin: 1rem 0 1rem 0;
  background-color: #000071 !important;
  color: #fff !important;
}
.button:hover {
  background-color: #000000 !important;
  color: #fff !important;
}
.shadow {
  box-shadow: 0 3px 15px rgba(0, 1, 1, 0.1);
}
@media screen and (max-width: 40rem) {
  .row .row {
    margin-right: inherit;
    margin-left: inherit;
  }
}
/* 
*  
*	FONTS
*
*/
@font-face {
  font-family: 'Radikal_bold';
  src: url('http://localhost:8888/morphean2016/wp-content/themes/Morphean/less/../assets/fonts/Radikal_bold.eot');
  src: url('http://localhost:8888/morphean2016/wp-content/themes/Morphean/less/../assets/fonts/Radikal_bold.eot?#iefix') format('embedded-opentype'), url('http://localhost:8888/morphean2016/wp-content/themes/Morphean/less/../assets/fonts/Radikal_bold.woff2') format('woff2'), url('http://localhost:8888/morphean2016/wp-content/themes/Morphean/less/../assets/fonts/Radikal_bold.woff') format('woff'), url('http://localhost:8888/morphean2016/wp-content/themes/Morphean/less/../assets/fonts/Radikal_bold.ttf') format('truetype'), url('http://localhost:8888/morphean2016/wp-content/themes/Morphean/less/../assets/fonts/Radikal_bold.svg#moderatbold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Radikal_black';
  src: url('http://localhost:8888/morphean2016/wp-content/themes/Morphean/less/../assets/fonts/Radikal_black.eot');
  src: url('http://localhost:8888/morphean2016/wp-content/themes/Morphean/less/../assets/fonts/Radikal_black.eot?#iefix') format('embedded-opentype'), url('http://localhost:8888/morphean2016/wp-content/themes/Morphean/less/../assets/fonts/Radikal_black.woff2') format('woff2'), url('http://localhost:8888/morphean2016/wp-content/themes/Morphean/less/../assets/fonts/Radikal_black.woff') format('woff'), url('http://localhost:8888/morphean2016/wp-content/themes/Morphean/less/../assets/fonts/Radikal_black.ttf') format('truetype'), url('http://localhost:8888/morphean2016/wp-content/themes/Morphean/less/../assets/fonts/Radikal_black.svg#moderatbold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Radikal_light';
  src: url('http://localhost:8888/morphean2016/wp-content/themes/Morphean/less/../assets/fonts/Radikal_light.eot');
  src: url('http://localhost:8888/morphean2016/wp-content/themes/Morphean/less/../assets/fonts/Radikal_light.eot?#iefix') format('embedded-opentype'), url('http://localhost:8888/morphean2016/wp-content/themes/Morphean/less/../assets/fonts/Radikal_light.woff2') format('woff2'), url('http://localhost:8888/morphean2016/wp-content/themes/Morphean/less/../assets/fonts/Radikal_light.woff') format('woff'), url('http://localhost:8888/morphean2016/wp-content/themes/Morphean/less/../assets/fonts/Radikal_light.ttf') format('truetype'), url('http://localhost:8888/morphean2016/wp-content/themes/Morphean/less/../assets/fonts/Radikal_light.svg#moderatbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
