@import "mixins.less";
@import "spec.less";

#masthead {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 666;
	.logo {
		img {
			max-width: 75%;
		}
	}
	#site-navigation {
		background-color: transparent;
		padding-top: 40px;
		&.top-bar {
			ul {
				background-color: transparent !important;
			}
		}
		#menu-main-nav {
			li {
				border: none;
				&:last-child a{
					padding-right: 0 !important;
				}
				a {
					text-transform: uppercase;
				}
				&.active > a, &.current-menu-item a{
				        font-family: '@{fontnameBold}' !important;
						background-color: transparent;
				}
				a {
					&:hover {
						background-color: transparent;
					}
				}
			}
		}
	}
}